@mixin tachyons-override($class, $color) {
  .#{$class} {
    color: $color;
  }
  .bg-#{$class} {
    background-color: $color;
  }
  .hover-#{$class} {
    &:hover,
    &:focus {
      color: $color;
    }
  }
  .hover-bg-#{$class} {
    &:hover,
    &:focus {
      background-color: $color;
    }
  }
  .b--#{$class} {
    border-color: $color;
  }
}

@include tachyons-override('green', $green-color);
@include tachyons-override('green-light', $green-light);
@include tachyons-override('green-lighter', $green-lighter);
@include tachyons-override('green-lightest', $green-lightest);
@include tachyons-override('gold', $gold-color);
@include tachyons-override('gold-light', $gold-light);
@include tachyons-override('gold-lighter', $gold-lighter);
@include tachyons-override('gold-lightest', $gold-lightest);
@include tachyons-override('off-black', $offBlack);
@include tachyons-override('blue', $blue-logo);
@include tachyons-override('gold-80', fade_out($gold-color, 0.8));
@include tachyons-override('grey-color-80', fade_out($grey-color, 0.8));
@include tachyons-override('gold-lighter-80', fade_out($gold-lighter, 0.8));
@include tachyons-override('grey-warm-80', fade_out($grey-warm, 0.8))
  .hover-shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19),
      0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
}

.text-outline {
  text-shadow: 1px 1px $offBlack, 1px -1px $offBlack, -1px -1px $offBlack,
    -1px 1px $offBlack;
}

.flex-50 {
  flex: 1 1 50%;
}

.flex-0 {
  flex: 1 1 0%;
}
