$base-font-family: "Prompt", Helvetica, Arial, sans-serif;

@font-face {
  font-family: "FontAwesome";
  src: url('~font-awesome/fonts/fontawesome-webfont.eot');
  src: url('~font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('~font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
       url('~font-awesome/fonts/fontawesome-webfont.ttf') format('truetype');
}
$base-font-size:   12pt;
$base-line-height: 1.4;
$header-height:    78px;

$spacing-unit:     30px;

$pink-action:      #fe3e64;
$purple-bar:       #323266;
$blue-logo:        #1eafec;

/* Colors shamelessly taken from the excellent US CIO Web Standards */
/* https://playbook.cio.gov/designstandards/visual-style/ */
$blue-primary:     #0071bc;
$blue-dark:        #205493;
$blue-darker:      #112e51;

$blue-alt:         #02bfe7;
$blue-alt-darker:  #046b99;
$blue-alt-dark:    #00a6d2;
$blue-alt-light:   #9bdaf1;
$blue-alt-lighter: #e1f3f8;

$red-color:        #e31c3d;
$red-darker:       #981b1e;
$red-dark:         #cd2026;
$red-light:        #e59393;
$red-lighter:      #f9dede;

$white:            #ffffff;
$black:            #212121;
$offBlack:         #303030;
$grey-color:       #5b616b;
$grey-warm:        #e4e2e0;
$grey-dark:        #323a45;
$grey-shadow:      #757575;
$grey-light:       #aeb0b5;
$grey-lighter:     #d6d7d9;
$grey-lightest:    #f1f1f1;

$gold-color:       #fedc33;
$gold-light:       #f9c642;
$gold-lighter:     #fad980;
$gold-lightest:    #fff1d2;

$green-color:      hsla(95, 61%, 47%, 1);
$green-light:      #8ecb62;
$green-lighter:    hsla(95, 36%, 78%, 1);
$green-lightest:   hsla(95, 54%, 93%, 1);

$blue-focus:       #3e94cf;
$purple-color:     #4c2c92;

$focus-color:      $blue-focus;
$visited-color:    $purple-color;

$background-swatch:$white;

/* Animation standards */
$timing-function:  cubic-bezier(0.165, 0.840, 0.440, 1.000);

/* Width of the content area */
$content-width:    1080px;

$mobile:          450px;
$tablet:          600px;
$laptop:          1000px;
$desktop:         1400px;

@media (min-width: $mobile) {
  $header-height: 60px;
}
