{% extends '_layouts/base.njk' %}
{% from '_modules/modal/modal.html' import modal %}

{% block content %}
<div class="main-container">
  {% include "_layouts/header.njk" %}
  {% include "_layouts/nav.njk" %}
  <main class="portfolio">
    {% include "_layouts/services.njk" %}
    {% include "_layouts/footer.njk" %}
  </main>
</div>
<script src="/public/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsuCjHZUuNmjtfjwxYsFGj8aouf18e9aU&callback=initMap"></script>

{% for project in site.data.services %}
  {% call modal(project) %}
  {% endcall %}
{% endfor %}

{% endblock %}
