<div class="about-main">
  <div class="pt6 pb5 bg-blue">
    <h1 class="mw8 ph4 f1 f-5-ns center white mv0 lh-copy">About Us</h1>
    <p class="f3 ma0 mw7 center pt2 ph4 ph0-ns pb5-ns white">Energy consultants that care about your bottomline</p>
  </div>
  <section class="history pv5 mw7 center ph4">
    <h2 class="green lh-solid">Organization History</h2>
    <p class="f4 lh-copy">For the past 6 years, ECOcentrix Consultants has been providing sustainable solutions and consulting services to clients to help reduce energy consumption while simultaneously improving the occupant’s quality of life. During those 6 years, ECOcentrix has provided services in eight states across the Midwest.</p>
    <p class="f5 lh-copy">Founded in 2011, ECOcentrix conducts independent energy audits and provides energy consulting for developers, architects, homeowners and general contractors. Our expertise includes single and multi-family retrofits, historic rehabs and new construction. ECOcentrix can certify projects to Energy Star, National Green Building Standard and Enterprise Green Community. ECOcentrix also conducts ASHRAE Level 1 and Level 2 energy audits.</p>
    <p class="f5 lh-copy">ECOcentrix is headquartered at 2612 Delmar Boulevard in Saint Louis, Missouri, and is a licensed energy auditing and consulting firm in the State of Missouri (#LC9698154). Our Federal Employer Identification Number is 43-3680210, and we are a Woman-Owned Business Enterprise (WBE) in the State of Missouri (#04506) and city of Saint Louis (#1833). ECOcentrix carries general liability, automobile liability, worker’s compensation, employer’s liability and errors and omissions insurance.</p>
    <div class="image-container">
      <img src="<$ baseUrl $>/images/energy_saving.png" alt="Energy saving" />
    </div>
  </section>
  <section class="what-we-do pb5 mw7 center ph4">
    <h2 class="green lh-solid">What We Do</h2>
    <h3 id="consulting" class="blue mv0 lh-solid">Energy Consulting</h3>
    <p class="f4 lh-copy">Throughout the new construction process, ECOcentrix is there every step of the way, from the design phase to building turnover. ECOcentrix is brought on early in the process to work side by side with the architects to implement sustainable solutions for any budget. During this design phase, ECOcentrix creates an energy model of the proposed building to demonstrate the projected energy performance.</p>
    <p class="f5 lh-copy">During the construction process, ECOcentrix conducts preconstruction meetings with all necessary trades and completes multiple on-site inspections. During those on-site inspections, ECOcentrix verifies the installation of complete, fully-aligned air and thermal barriers, properly sealed HVAC equipment and duct work, and verifying efficiency through the use of diagnostic testing (blower door and duct blaster tests).</p>
    <h3 id="auditing" class="blue lh-solid">Energy Auditing</h3>
    <p class="f4 lh-copy">ECOcentrix Consulting conducts independent energy audits on buildings ranging from single family homes to multi-story highrises. ECOcentrix’s objective is to establish an energy consumption baseline, quantify current energy usage and identify energy savings opportunities for each building. ECOcentrix has performed dozens of ASHRAE Level 1 and Level 2 energy audits though out the Midwest.</p>
    <p class="f5 lh-copy">Prior to the site visit, utility usage data is collected for a minimum of a 36-month period to allow the auditor to evaluate the building’s energy consumption rate and analyze seasonal trends. During the site visit, the inspection focuses on the building envelope, lighting, HVAC, domestic water use and areas for improvements. The report will include Energy Conservation Measures (ECMs), the cost to implement, estimated useful life, and estimated energy consumption associated with each. Available building plans and information are reviewed, and interviews with building personnel are conducted to gain a better picture of how the building operates as a system.</p>
    <p class="f5 lh-copy">ECOcentrix is proficient in the proper use of energy auditing equipment, including, but not limited to: infrared camera, and blower door, duct blaster and combustion analysis tools. We provide the following services for existing buildings:
      <ul>
        <li>Analysis of mechanical, domestic hot water, building envelope and electrical systems with recommended improvements</li>
        <li>Trend analysis based on reviews of building data and utility usage (bills)</li>
        <li>Independent recommendations of Energy Conservation Measures (ECMs) that are implemented in order of payback period, based on reviews of building operations and current energy conservation principles</li>
        <li>Projection of costs associated with each recommended ECM, as well annual savings from implementation of such</li>
        <li>Estimation of payback period and all costs associated with each ECM</li>
        <li>Analysis of standard and advanced energy saving/generating technologies, including costs-versus-savings analysis, to identify which technologies, if any, are cost effective</li>
      </ul>
    </p>
    <h3 id="radon" class="blue lh-solid">Radon Testing</h3>
    <p>Radon is the second leading cause of lung cancer in the United States today. This colorless, odorless and tasteless gas is naturally occurring and is generated by the decay of Uranium in soil, rocks and water. It shows no immediate symptoms that will alert you to its presence. The only way to know if you are at risk of elevated Radon levels is to test your house or business. Elevated levels have been found in every state.</p>
      <ul>
        <li>ECOcentrix is a AARST/NRPP Certified Radon Measurement company.</li>
        <li>Can we put the radon picture on our page or just do a link? Should we put an illustration of how radon can get into your home on that page? I can find one if you need/want more images.</li>
      </ul>
    </p>
    <p><a href="http://www.radon.com/maps/">See if you are in an elevated risk area</a>. If so, we can help!</p>
  </section>
</div>
