{% block config %}
  {% set baseUrl = config.baseUrl or './' %}
{% endblock %}

<div class="faq-main">
  <div class="pt6 pb5 bg-blue">
    <h1 class="mw8 ph4 f1 f-5-ns center white mv0 lh-copy">FAQ</h1>
    <p class="f3 ma0 mw7 center ph4 ph0-ns pt2 pb5-ns white">With all the experience we've gained on being energy efficient, here are some <span class="gold fw7">Energy Saving Tips</span> to help you lower your energy costs today</p>
  </div>
  <section class="tl ph4">
    <div class="mw7 center flex black pv4">
      <div class="left-side flex-auto">
        <h2 class="green f3 lh-solid">What Can I Do To Lower My Bills?</h2>
        <ul>
          <li>Use incandescent light bulbs for compact fluorescents (CFL's).<br>Every light bulb changed uses 75% less energy!</li>
          <li>Turn down your water heater temperature to 120°F.</li>
          <li>Replace appliances with high efficiency Energy Star appliances.</li>
          <li>Unplug electronics that you do not regularly use.</li>
          <li>Change furnace filters regularly.</li>
          <li>Wash clothes in cold water with detergents to sanitize clothing.</li>
        </ul>
        <h2 class="green f3 lh-solid">Looking to Lower Monthly Bills?</h2>
        <ul>
          <li>Caulk leaky windows.</li>
          <li>If there is light coming in around a door,<br> make sure you add weatherstripping.</li>
          <li>Add weatherstripping to the attic hatches.<br>Even if you don't think it needs it.</li>
          <li>Hire an energy auditor with a blower door<br> to point out where the worst cracks are.</li>
        </ul>
        <h2 class="green f3 lh-solid">Looking to Lower Your Annual Bills?</h2>
        <ul>
          <li>Increase your attic insulation to at least R49-R60.</li>
          <li>Add insulation to walls that do not have any.</li>
          <li>Tune heating and cooling systems</li>
          <li>Consider upgrading or replacing old windows.</li>
        </ul>
      </div>
      <div class="right-side dn w-50 flex-ns items-center justify-center">
        <div class="img-container">
          <img src="<$ baseUrl $>/images/natural_lightbulb.jpg" />
        </div>
      </div>
    </div>
  </section>
</div>
