<section class="tl pl2 pv2 blue b--black bt section-border">
  <div class="container flex black">
    <div class="left-side w-60">
      <h2 class="green">Energy Saving Tips</h2>
      <h4>What Can I Do To Lower My Bills?
      <ul>
        <li>Use incandescent light bulbs for compact fluorescents (CFL's).<br>Every light bulb changed uses 75% less energy!</li>
        <li>Turn down your water heater temperature to 120°F.</li>
        <li>Replace appliances with high efficiency Energy Star appliances.</li>
        <li>Unplug electronics that you do not regularly use.</li>
        <li>Change furnace filters regularly.</li>
        <li>Wash clothes in cold water with detergents to sanitize clothing.</li>
      </ul>
    </h4>
    </div>
    <div class="right-side w-50 flex items-center justify-center">
      <div class="img-container">
        <img src="/images/natural_lightbulb.jpg" />
      </div>
    </div>
  </div>
</section>
<section class="bg-gold">
</section>
<section class="tr pr2 bg-green black bt section-border">
  <div class="container flex">
    <div class="w-50 flex items-center justify-center">
      <div class="img-container pa4">
        <img src="/images/lower-monthly-bills1.jpg" />
      </div>
    </div>
    <div class="right-side">
      <h3 class="white">Looking to Lower Monthly Bills?</h3>
      <ul>
        <li>Caulk leaky windows.</li>
        <li>If there is light coming in around a door,<br> make sure you add weatherstripping.</li>
        <li>Add weatherstripping to the attic hatches.<br>Even if you don't think it needs it.</li>
        <li>Hire an energy auditor with a blower door<br> to point out where the worst cracks are.</li>
      </ul>
    </div>
  </div>
</section>
<section class="tl pv2 pl2 bg-white bt section-border">
  <div class="container flex">
    <div class="right-side">
      <h3 class="green">Looking to Lower Your Annual Bills?</h3>
      <ul>
        <li>Increase your attic insulation to at least R49-R60.</li>
        <li>Add insulation to walls that do not have any.</li>
        <li>Tune heating and cooling systems</li>
        <li>Consider upgrading or replacing old windows.</li>
      </ul>
    </div>
  </div>
  <div class="left-side w-50 flex items-center justify-center">
    <div class="img-container pa2">
      <img src="/images/save-money.jpg" />
    </div>
  </div>
</section>
