<section class="bt section-border">
<div class="site-footer section-border">
  <div class="footer-top">
    <div class="container">
      <div class="footer-columns">
        <div class="footer-column">
        </div>
        <div class="footer-column">
          <ul class="social-media links">
            {# TODO: turn this into a module #}
            <li>
              <a class="social-media-link" href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="social-media-link" href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="social-media-link" href="mailto:mollie@ecocentrixco.com"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
         </div>
        <div class="footer-column">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="copyright-row">
        <span class="copyright">Copyright 2017</span>
        <span class="made-by">Site built by <a href="http://cvharris.com" target="_blank">CV Harris Design, LLC.</a></span>
      </p>
    </div>
  </div>
</div>
</section>
