<header>
  <div class="site-header bg-black-20 db">
    <div class="header-wrapper pt3-ns pb3-ns">
      <div class="ml4-ns">
        <img src="/images/logo.png" class="background-faded-white ph3 pv2"/>
        {# <h4 class="ma0 white"><em><$ site.data.info.tagline $></em></h4> #}
      </div>
      <div class="menu">
        {% for item in site.data.menu %}
        <div class="menu-item">
          <a title="<$ item.description $>" href="<$ item.route $>" class="white hover-gold"><$ item.label $></a>
            {% if item.children %}
            <div class="sub-menu absolute bg-black-60 pa2">
              {% for child in item.children %}
              <a title="<$ child.description $>" href="<$ child.route $>" class="db pv2 white nowrap hover-gold"><$ child.label $></a>
              {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div id="menu-reveal" class="menu-button-container right">
        Menu&nbsp;<i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</header>
