<section>
  <div class="site-header">
    <div class="header-wrapper pt3-ns pb3-ns">
      <div class="flex items-center-ns items-start">
        <img src="/images/logo.png" class="ml4-ns"/>
        <h4 class="ma0 white pt3 mt4"><em><$ site.data.info.tagline $></em></h4>
      </div>
      <div class="menu">
        {% for item in site.data.menu %}
        <a title="<$ item.description $>" href="<$ item.route $>" class="menu-item">
          <$ item.label $>
        </a>
        {% endfor %}
      </div>
      <div id="menu-reveal" class="menu-button-container right">
        Menu&nbsp;<i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</section>
