<section class="relative overflow-hidden" style="height: 700px;">
  <div class="video-wrapper h-100">
    <video preload loop muted autoplay poster="images/windmill_still.jpg" class="bg-video db mw-100 w-100 h-100" style="object-fit: cover; object-position: center;">
      <source src="videos/windmill_video.webm" type="video/webm">
      <source src="videos/windmill_video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="top-content absolute bottom-0 w-100">
    <div class="centered-wrapper center mw7 mb4 ph4 relative tc">
      <p class="f2 white fw7 text-outline">We are energy auditors and consultants,<br>for residential and commercial spaces</p>
      <p class="f3 white fw7 text-outline">Need an audit? Want to save money and be green?</p>
      <a href="/contact" class="db bg-blue white pa2 f3 mw6 center hover-white hover-shadow fw7">Tell Us About Your Project</a>
    </div>
  </div>
</section>
<section id="work" class="relative pv6 ph3">
  <div class="mw7 center flex justify-around">
    <div class="work-type flex-50">
      <div class="tc mr3">
        <i class="fa fa-check-square-o f-6 dib green"></i>
        <h3 class="f2 green">Energy Auditing</h3>
        <p class="f4">Invite us to visit your existing buildings to identify <b class="gold">energy saving opportunities</b>, conducting specialized and nationally recognized energy audits</p>
        <a href="/about#auditing" class="db bg-blue white pa2 f4 hover-white hover-shadow fw7 mv4">Learn About<br>Energy Auditing</a>
        <a href="/services#auditing" class="db bg-blue white pa2 f4 hover-white hover-shadow fw7">View Our Auditing Projects</a>
      </div>
    </div>
    <div class="work-type flex-50">
      <div class="tc ml3">
        <i class="fa fa-handshake-o f-6 dib green"></i>
        <h3 class="f2 green">Energy Consulting</h3>
        <p class="f4">Bring us on early in your project to work side-by-side with your architects and implement <b class="gold">sustainable enery solutions</b> within your budget</p>
        <a href="/about#consulting" class="db bg-blue white pa2 f4 hover-white hover-shadow fw7 mv4">Learn About<br>Energy Consulting</a>
        <a href="/services#consulting" class="db bg-blue white pa2 f4 hover-white hover-shadow fw7">View Our Consulting Projects</a>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="relative pv6 ph3">
  <div class="mw7 center">
    <h3 class="f2 green">Contact Us</h3>
  </div>
</section>
