<div class="services-main">
  <div class="pt6 pb5 bg-blue">
    <h1 class="mw8 ph4 f-5 center white mv0 lh-copy">Services</h1>
    <p class="f3 ma0 mw7 center pt2 pb5 white">
      Energy needs are different for every type of project, and we've covered a lot of them in several locations across the country. <b class="gold">Click the filters below</b> to see the variety of projects we've worked with in the past.
    </p>
  </div>
  <div class="portfoilo-body">
    <div class="filtering-tags mw8 center flex flex-wrap justify-center mv3 tc items-center pv4">
      <span id="all-projects" class="project-filter mh3 pointer f4 blue fw7 br-pill bg-white ba ph3 pv2 b--gold mb3">All</span>
      {% for tag in site.data.config.tags %}
      <span data-tagname="<$ tag | replace(' ', '-') | lower $>" class="project-filter clickable mh3 pointer f4 blue fw7 br-pill bg-white ba ph3 pv2 b--gold mb3"><$ tag $></span>
      {% endfor %}
    </div>

    <div class="services-area flex vh-50 overflow-hidden">
      <div id="services-map" class="h-100 flex-50"></div>

      <div class="services-container flex-50 pb4 overflow-auto h-100">
        {% for project in site.data.services.projects %}
          <div data-job-id="<$ project.id $>" class="project pointer flex relative mb2 mh4 <$ project.tags | string | replace(' ', '-') | replace(',', ' ') | lower $>">
            <h3 class="project-title f4 ma0 green" style="flex-basis: 50%">
              <span class="project-title-text underline-hover lh-copy"><$ project.title $></span>
            </h3>
            <div class="project-location flex-auto" style="flex-basis: 25%;"><$ project.city $>, <$ project.state $></div>
            <div class="project-units flex-auto" style="flex-basis: 15%;"><$ project.units $> units</div>
            <div class="type tc flex-auto" style="flex-basis: 10%;"><$ project.type $></div>
            {# <div class="tags tc flex-auto" style="flex-basis: 10%;">
              {% for tag in project.tags %}
                <a href="/services#<$ tag | lower $>" data-tagname="<$ tag | lower $>" class="filter-tag blue-darker underline-hover"><$ tag $></a>{% if not loop.last %}<span>, </span>{% endif %}
              {% endfor %}
            </div> #}
          </div>
          {% else %}
          <div>Projects Coming Soon!!</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
