<div class="services-main">
  <div class="services-header pt6 pb5" style="background-image: url(/images/windmill_still.jpg">
    <h1 class="mw7 f-5 center white mv0">Services</h1>
  </div>
  <div class="portfoilo-body">
    <p class="mw6 center tc pv3">
      Energy needs come in all sorts of different projects, and we've covered a lot of them in several locations across the country. Filter here on just how many we can help with
    </p>
    <div class="filtering-tags mw7 center flex justify-center mv3 tc items-center">
      <span id="all-projects" class="project-filter mh3 pointer f4">All</span>
      {% for tag in site.data.config.tags %}
      <span data-tagname="<$ tag | lower $>" class="project-filter clickable mh3 pointer f4"><$ tag $></span>
      {% endfor %}
    </div>

    <div class="services-area flex vh-50 overflow-hidden">
      <div id="services-map" class="h-100 flex-50"></div>

      <div class="services-container flex-50 pb4 pt4 overflow-auto h-100">
        {% for project in site.data.services.projects %}
          <div data-job-id="<$ project.id $>" class="project pointer flex relative mb2 mh4 <$ project.tags | string | replace(',', ' ') | lower $>">
            <h3 class="project-title f4 ma0" style="flex-basis: 50%">
              <span class="project-title-text underline-hover lh-copy"><$ project.title $></span>
            </h3>
            <div class="project-location flex-auto" style="flex-basis: 25%;"><$ project.city $>, <$ project.state $></div>
            <div class="project-units flex-auto" style="flex-basis: 15%;"><$ project.units $> units</div>
            <div class="tags tc flex-auto" style="flex-basis: 10%;">
              {% for tag in project.tags %}
                <a href="/services#<$ tag | lower $>" data-tagname="<$ tag | lower $>" class="filter-tag blue-darker underline-hover"><$ tag $></a>{% if not loop.last %}<span>, </span>{% endif %}
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div>Projects Coming Soon!!</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
