.normal-section, .transparent-section {
  position: relative;
  // z-index: 1;

  .container {
    position: relative;
      // z-index: 1;
  }
}

.transparent-section {
  overflow: hidden; // added for pseudo-element
  color: white;

  .container {
    z-index: 2;
  }

  .section-header {
    @include text-shadow();
  }
}

.normal-section {
  z-index: 2;
}

.section-header {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 2rem;

  @media (min-width: $mobile) {
    font-size: 3rem;
    line-height: 2;
  }
}

.centered-quotations {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 5rem;
  line-height: 1.5;

  &::before, &::after {
    content: none;
  }

  strong {
    font-style: normal;
  }

  @media (min-width: $mobile) {
    font-size: 2.25rem;
    margin-bottom: 4rem;
  }
}

.video-overlay {
  top: 0;
  opacity: .6;
}

.background-faded-white {
  background: fade($grey-lightest, 80%);
}

.big-quote {
  max-width: 36rem;
  margin: 2rem auto;

  p {
    text-indent: 0;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    @media (min-width: $mobile) {
      font-size: 1.6rem;
    }
  }
}

.figures {
  display: flex;
  justify-content: space-around;

  figure {

    img {
      width: 225px;
    }
  }
}

.section-border {
    border-width: 15px;
    border-color: $blue-logo;
}

.video-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $mobile) {
    background-image: none !important;
  }
}

#logo-background {
  display: block;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem 3.5rem;
  max-height: 250px;
}

#contact-map {
  height: 350px;
  max-width: 350px;
}

#home-hero {
  max-height: 80vh;
  min-height: 50vh;

  @media (min-width: $mobile) {
    max-height: 700px;
    min-height: 0;
  }
}

//  a {
//    text-shadow: 1px 1px @green-color, 1px -1px @green-color, -1px -1px @green-color, -1px 1px @green-color;
//  }
