.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top 20%;
}

#services-map {
  height: 375px;

  @media (min-width: $mobile) {
    height: inherit;
  }
}

.active-tag {
  background-color: $blue-logo;
  color: $gold-color;
  border-color: $blue-logo;
}

.markdown-content {
  h2 {
    @extend .green, .lh-solid;
  }

  h3 {
    @extend .blue, .mt0, .mb3, .lh-solid;
  }

  p {
    @extend .f5, .lh-copy;
  }

  h2 + p,
  h3 + p {
    @extend .f4;
  }

  ul {
    li {
      display: list-item;
      list-style-type: disc;
    }
  }
}