{% block content %}
<div class="main-container">
  {% include "_layouts/header.njk" %}
  {% include "_layouts/nav.njk" %}
  <main id="faq">
    {% include "_layouts/faq.njk" %}
    {% include "_layouts/footer.njk" %}
  </main>
</div>
{% endblock %}
