.tachyons-override (@class, @color) {
  .@{class} { color: @color; }
  .bg-@{class} { background-color: @color; }
  .hover-@{class} {
    &:hover,
    &:focus {
      color: @color;
    }
  }
  .hover-bg-@{class} {
    &:hover,
    &:focus {
      background-color: @color;
    }
  }
  .b--@{class} { border-color: @color; }
}

.tachyons-override(~"green", @green-color);
.tachyons-override(~"green-light", @green-light);
.tachyons-override(~"green-lighter", @green-lighter);
.tachyons-override(~"green-lightest", @green-lightest);
.tachyons-override(~"gold", @gold-color);
.tachyons-override(~"gold-light", @gold-light);
.tachyons-override(~"gold-lighter", @gold-lighter);
.tachyons-override(~"gold-lightest", @gold-lightest);
.tachyons-override(~"off-black", @offBlack);

.hover-shadow {
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.text-outline {
  text-shadow: 1px 1px @offBlack, 1px -1px @offBlack, -1px -1px @offBlack, -1px 1px @offBlack;
}

.flex-50 {
  flex: 1 1 50%;
}
